.texto{
    background-color: #FCFDFF;
}

.texto div{
    letter-spacing: 5%;
    background-color: #4D6AAC;
    margin: 5%;
    border-radius: 10px 20px 30px;
    margin-top: 3%;
}
.texto h1{
    font-size: 6vh;
    text-align:center;
    letter-spacing: 5%;
    color: #ffffff;
    border-radius: 10px 20px 30px;
    margin-top: 3%;
  }

  .texto h2{
    text-decoration: none;
    font-size: 3vh;
    text-align: center;
    letter-spacing: 5%;
    color: #f1f1f5;

  }

#botao{
      background: #2a3d68;
      border-radius: 6px;
      padding: 15px;
      cursor: pointer; 
      color: #f9fcff;
      border: none;
      font-size: 3vh;
}

.btn{
    width: 100%;
    text-align: center;
}

.inicial{
  text-align: center;
}

.inicial h1{
  font-size: 6vh;
  color: #2a3d68;
}

.inicial p{
  font-size: 2vh;
  color: #34497a;
}

.formulario{
  font-size: 2vh;
  text-align: center;
  display: inline;
  color: #152241;
}

#botaoenviar{
  width: 80px;
  height: 40px;
  background: #abc0f1;
  color: white;
  border-radius: 13px;
  border: none;
  
}

.capa{
  background-color: #FCFDFF;
  width: 100%;
  height: 100%;
  padding-left: 10%;
}

.capa div{
  letter-spacing: 5%;
  background-color: #3f568d;
  margin: 5%;
  border-radius: 10px 20px 30px;
  margin-top: 3%;
}

.capa h2{
  text-decoration: none;
  font-size: 4vh;
  text-align: center;
  letter-spacing: 5%;
  color: #eaf0fd;
}

.capa2{
  background-color: #FCFDFF;
  width: 80%;
  height: 100%;
}

.capa2 div{
  letter-spacing: 5%;
  background-color: #5d79bb;
  margin: 5%;
  border-radius: 10px 20px 30px;
  margin-top: 3%;
}

.capa2 h3{
  text-decoration: none;
  font-size: 3vh;
  text-align: center;
  letter-spacing: 5%;
  color: #ecf2ff;
}