{% extends "base.html" %}

{% block titulo %}<title>Info</title>{% endblock %}

{% block background %}<body class="fundo">{% endblock %}

{% block conteudo %}
 
<div class="Main">
<h2>
    <div class="row">
        <div"><img src="../static/img/sobreinfo.png" alt="Informações" style="width:100%"></div></a>
        <div><a href='https://www.gov.br/saude/pt-br/coronavirus/sintomas#:~:text=Caracterizado%20a%20partir%20da%20presença,%2C%20fadiga%20e%2Fou%20cefaleia.'><img src="../static/img/sintomas.png" alt="Sintomas" style="width:100%"></div></a>
        <div><img src="../static/img/comoseprevinir.png" alt="Como se prevenir" style="width:100%"></div></a>

    </div>
</h2>
   

</div>


{% endblock %}

</html>