{% extends "base.html" %}

{% block titulo %}<title>Home</title>{% endblock %}

{% block background %}<body class="fundo">{% endblock %}

{% block conteudo %}
 
<div class="capa">
    <div>
        <h2>
            Portal de fácil acesso às informações da covid-19 e covid longa no Vale do Paraíba.
        </h2>
        <br>
        <br>
   </div>
</div>

<div class="capa2">
    <div>
        <h3>
            <br>
            <br>
            Tenha acesso facilitado aos dados de medicamentos, gastos, procedimentos e consultas, além de mais informações a cerca da covid-19 e covid-longa.
            <br>
        </h3>
        <br>
        <br>
   </div>
</div>

    <div class="container">
        <img src="../static/img/CovidDesenho.png" />
    </div>

<h1>

    <div class="row">
        <div class="coluna"><a href='/consultar'><img src="../static/img/consulta.png" alt="consulta" style="width:100%"></div></a>
        <div class="coluna"><a href='/gastos'><img src="../static/img/gastos.png" alt="gastos" style="width:100%"></div></a>
        <div class="coluna"><a href='/sobre'><img src="../static/img/sobre.png" alt="" style="width:100%"></div></a>
      

      
    </h1>

</body>
{% endblock %}

</html>